# Node
node_modules/
dist/
dist-ssr/
*.local
*.log

# Java & Maven
target/
*.class
*.jar
*.war
*.ear
.metadata/
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
bin/

# Archives & Temp
*.zip
*.tar.gz
*.tmp
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.iml
